data/vna.dat
CST/models/WiFi_Gun_optimisation_2.3-2.5
CST/models/WiFi_Gun_optimisation_2.375-2.525
CST/models/WiFi_Gun_optimisation_2.375-2.525_2
CST/models/WiFi_Gun_optimisation_2.5-2.7
CST/models/WiFi_Gun_optimisation_1.9-2.2
CST/models/WiFi_Gun_default
CST/models/non_share_models
junk
*.asv